[alias]
	a = add
	am = commit --amend --no-edit
	br = branch
	ch = cherry-pick
	ci = commit
	cl = !git branch --no-contains $(git rev-list @ -n 1) --merged | xargs git br -d
	clb = !CURRENT_BRANCH=\"$(git rev-parse --abbrev-ref HEAD)\" && git co main && git cl && git co $CURRENT_BRANCH
	co = checkout
	f = fetch
	from = !git fetch origin main && git rom
	po = !git push origin +\"$(git rev-parse --abbrev-ref HEAD)\"
	rom = rebase origin/main
	s = status
	ultraclean = !CURRENT_BRANCH=\"$(git rev-parse --abbrev-ref HEAD)\" && git co main && git from && git cl && git gc --aggressive && git prune && git co $CURRENT_BRANCH
[color]
	ui = true
[core]
	editor = vim
	commitGraph = true
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
[push]
	default = current
[pull]
	rebase = true
[user]
	name = Alan Ly
	email = hello@alanly.dev
