[alias]
  amend = commit --amend -C @
  a = add
  f = fetch
  p = pull
  br = branch
  ci = commit
  co = checkout
  st = status
  squash = !HEAD_COMMIT=$(git rev-list @ -n 1) BASE_COMMIT=$(git merge-base @ origin/master) && git reset --soft $BASE_COMMIT && git commit --reuse-message=$HEAD_COMMIT~$[$(git rev-list $BASE_COMMIT..$HEAD_COMMIT --count)-1] --edit
  chp = cherry-pick
  rom = "!git fetch origin master && git rebase origin/master"
  po = "!git push origin +\"$(git rev-parse --abbrev-ref HEAD)\""
  irom = "!git fetch origin master && git rebase -i origin/master"
  cl = "!git branch --no-contains $(git rev-list @ -n 1) --merged | xargs git br -d"
  clb = "!CURRENT_BRANCH=\"$(git rev-parse --abbrev-ref HEAD)\" && git co master && git cl && git co $CURRENT_BRANCH"
[color]
  ui = true
[core]
  editor = vim
[push]
  default = current
[pull]
  rebase = true
[user]
  name = Alan Ly
  email = hello@alan.ly
[oh-my-zsh]
  hide-dirty = true

[diff]
	algorithm = patience
[protocol]
	version = 2
[credential]
	helper = osxkeychain
